html{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

li,
a{
  list-style-type: none;
  color: white;
  font-size: 18px;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

#menu{
  background-image: url(../images/the-flatiron-building.png)
}

.newyork{
  color: white;
  background-image: url(../images/the-flatiron-building.png)
}

.landing_footer,
.landing_footer a{
  color: white;
  background-color: dimgray;
  text-align: left;
}

#copyright{
  font-size: 11px;
}
